<div class="row">
<div class="col-md-5 col-md-offset-3">

<%= form_for(@directory) do |f| %>
  <% if @directory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@directory.errors.count, "error") %> prohibited this directory from being saved:</h2>

      <ul>
      <% @directory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <label for="description" class="col-sm-3 control-label">Nombre</label>
      <div class="col-sm-9">
          <%= f.text_field :name, :class => 'form-control input-box', :placeholder => "Ej.: Hospitales de Santiago" %>
      </div>
  </div> 

  <div class="form-group">
      <label for="description" class="col-sm-3 control-label">Descripción</label>
      <div class="col-sm-9">
          <%= f.text_area :description, :size => "20x2", :class => 'form-control input-box', :placeholder => "Ej.: Lista de todos los hospitales de la ciudad de Santiago" %>
      </div>
  </div> 

  <div class="form-group">
      <label for="description" class="col-sm-3 control-label">Categoría</label>
      <div class="col-sm-9">
         <%= f.select :category, options_for_select(["Comunidad","Medio Ambiente","Salud", "Educación"]), {}, {:class=>"form-control input-box"}  %>
      </div>
  </div> 
  
  
  
  <div class="form-group">
      <div class="col-sm-12 text-right">
          <button class="btn btn-success standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">Siguiente</button>
      </div>
  </div>



<% end %>

</div>
</div>