<div class="col-md-12  left-align wow fadeInLeft animated animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">
      
      <!-- SECTION TITLE -->
      <h2 class="dark-text"><%= @directory.name %></h2>
      
      
      <p><%= @directory.description %></p>

      <br />
</div>


<%= gmaps({
    "map_options" => { "detect_location" => true, "center_on_user" => true, "auto_zoom" => false, "zoom" => 11 },
    "markers"     => {"data" => @json }
   })
    %>


<div class="col-md-12 text-left">

	<table class="table table-hover">
	  <tr>
	    <th>Dirección</th>
	    <th>Descripción</th>
	  </tr>

	<% @locations.each do |location| %>
	  <tr>
	    <td><%= location.address %></td>
	    <td><%= location.description %></td>
	  </tr>
	<% end %>
	</table>

	<br />

</div>



<% if current_user %>
	<% if current_user.id == @directory.user_id %>
		<%= link_to 'Editar', edit_directory_path(@directory) %> | <%= link_to 'Eliminar Directorio', @directory, method: :delete, data: { confirm: '¿Estás seguro?' } %>
	<% end %>
<% end %>



