<div class="row">


  
  
<div class="col-md-5 col-md-offset-3">

    <%= form_for @cause, :html => { :multipart => true, :role => "form" } do |f| %>
            
            <div class="panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <div class="form-group">
                        <label for="concept" class="col-sm-3 control-label">Causa</label>
                        <div class="col-sm-9">
                            <%= f.text_field :title, :class => 'form-control input-box', :placeholder => "Nombre de la causa, ej.: Donación de Sangre" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="goal" class="col-sm-3 control-label">Meta</label>
                        <div class="col-sm-9">
                            <%= f.text_area :impact, :size => "20x2", :class => 'form-control input-box', :placeholder => "Ej.: Si llegamos a la meta habremos ayudado a 10 personas" %>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="date" class="col-sm-8 control-label">¿Cuantas personas necesitas?</label>
                        <div class="col-sm-4">
                            <%= f.select(:goal, options_for_select(%w[1 10 20 30 40 50 60 70 80 90 100 200 300 400 500 600 700 800 900 1000]), {}, {:class => "form-control input-box"}) %>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">#Hashtag</label>
                        <div class="col-sm-9">
                            <%= f.text_field :custom_url, :class => 'form-control input-box', :placeholder => "Sin espacios, ej.: donaciondesangre" %>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Direcciones</label>
                        <div class="col-sm-9">
                            <%= f.select(:dataset, options_from_collection_for_select(Directory.all, :id, :name), {}, {:class => 'form-control input-box'}) %>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Descripción</label>
                        <div class="col-sm-9">
                            <%= f.text_area :description, :size => "20x2", :class => 'form-control input-box', :placeholder => "Ej.: Si llegamos a la meta habremos ayudado a 10 personas" %>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Foto</label>
                        <div class="col-sm-9">
                            <%= f.file_field :photo, :class => 'form-control input-box' %>
                        </div>
                    </div>

                    <!--
                    <div class="form-group">
                        <label for="status" class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-9">
                            <%= f.text_field :impact, :class => 'form-control input-box', :placeholder => "Impacto" %>
                        </div>
                    </div> 
                   -->
                    

                     


                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-primary standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">Crear Causa</button>
                        </div>
                    </div>
                </div>
            </div>            
      
  <% end %>
</div>
  
  
  <br />
  <br />


</div>

