
  <div class="text-left">
    <h3> <%= t('latestcauses') %></h3>
    

    <div class="container">
      <div class="row">
        <ul class="thumbnails list-unstyled">
          <% @causes.each do |cause| %> 

            <li class="col-md-4">
              <div class="thumbnail" style="padding: 0">
                <div style="padding:4px">
                  <%= image_tag cause.photo.url(:square), :class=>"img-responsive" %>
                </div>
                <div class="caption">
                  <h3 class="title_heigth"><%= link_to cause.title, "/#{cause.custom_url}" %></h3>
                  <!-- <p><%= cause.description %></p> -->
                  <p class="impact_height"><%= cause.impact %></p>
                  <p><%= link_to t('help'), "/#{cause.custom_url}", :class => 'btn btn-ciudadania' %></p>
                  
                </div>

                <div class="modal-footer" style="text-align: left">

                  <div class="progress">

                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= (num_supporters(cause.id).to_f / cause.goal.to_f)*100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= (num_supporters(cause.id).to_f / cause.goal.to_f)*100 %>%;">
                        <span class="sr-only"><%= cause.goal %>% Complete</span>
                      </div>
                    

                  </div>

                  <div class="row">
                    
                    <div class="col-md-6 col-xs-6 text-center"><b><%= num_supporters(cause.id) %></b><br/>
                      <% if num_supporters(cause.id) > 1 or num_supporters(cause.id)==0 %>
                        <small><%= t'people_helping' %></small>
                      <% else %>
                        <small><%= t'people_helping' %></small>
                      <% end %>

                    </div>

                    <div class="col-md-6 col-xs-6 text-center"><b><%= cause.goal %></b><br/><small><%= t'we_need' %></small></div>
                    
                  </div>

                </div>




                
              </div>
            </li>

          <% end %>
        </ul>
      </div>
    </div>
    
  </div>
    

  <div class="col-md-12">
    
    <% if current_user %>
      <h3><%= current_user.name %></h3>
      <%= image_tag current_user.picture, :class=>"img-circle" %>
      <%= link_to t("logout"), '/signout' %>
    <% end %>
    
  </div>
    