  <p id="notice"><%= notice %></p>


<!-- 
<section class="download" id="download" style="background-image: url(<%= root_url %>assets/bg-3.jpg)"> 
-->

<% if @cause.photo.url(:medium) == "/assets/missing.png" %>
  <section class="download" id="download" style="background-image: url(<%= root_url %>assets/bg-1.jpg)">  
<% else %>    
   <section class="download" id="download" style="background-image: url(<%= @cause.photo.url(:medium) %>)">
<% end %>

<div class="color-overlay">

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        
      
        <div class="subscription-form-container">
          
          <h2 class="wow fadeInLeft animated animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;"><%= @cause.title %></h2>


          <% if current_user %>
            
            <p><%= already_supporter(@cause.id,current_user.id) %></p>
            <p><%= @cause.id %></p>
            <p><%= current_user.id %></p>

            <% if already_supporter(@cause.id,current_user.id) == false %>
              <%= render 'supports/form' %>
            <% else %>
              <h3>Gracias ya estás ayudando en esta causa</h3>
              <%= custom_tweet_button('Compártelo y ayúdanos a llegar a la meta',{ :via => "ciudadaniaviva", :url => "http://www.ciudadaniaviva.com/"+@cause.custom_url, :text => "Voy a ayudar en "+@cause.title }, {:class => "btn btn-lg btn-success"}) %>
            <% end %>
          <% else %>
            <a href="/auth/twitter" class="btn btn-default btn-lg standard-button">Ingresa con Twitter para ayudar</a>
          <% end %>  


        </div>
                
        
      </div> 
      <!-- END COLUMN -->
      
    </div> 
    <!-- END ROW -->
    
  </div>
  <!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->

</section>


<h3>Estos son los lugares donde puedes colaborar:</h3>


<%= gmaps({
    "map_options" => { "detect_location" => true, "center_on_user" => true, "auto_zoom" => false, "zoom" => 11 },
    "markers"     => {"data" => @json }
   })
    %>


  
  <div class="text-left">   
  <h2>Personas que apoyan la causa</h2>
        <table class="table">
          <tr>
            <% @supporters.each do |supporter| %> 
              <td>
                <%= image_tag(supporter(supporter.user_id).picture) %>
              </td>

              <td><%= supporter(supporter.user_id).name %></td>

            <% end %>  

          </tr>
        </table>

    </div>    
  

  <% if current_user %>
      <% if current_user.id == @cause.user_id %>
        <%= link_to 'Editar', edit_cause_path(@cause) %> |
        <%= link_to 'Regresar', causes_path %>
      <% end %>
  <% end %>

