<p id="notice"><%= notice %></p>

<div class="col-md-6">
  <h1><%= @cause.title %></h1>
  <h3><%= @supporters.count %> personas apoyando esta causa</h3>
  <p><%= @cause.description %></p>
</div>


<div class="col-md-6">
	<% if already_supporter(@cause.id,current_user.id) == false %>
		<%= render 'supports/form' %>
	<% else %>	
		<h3>Gracias ya estás ayudando en esta causa</h3>
		<%= custom_tweet_button('Compártelo y ayúdanos a llegar a la meta',{ :via => "ciudadaniaviva", :url => "http://www.ciudadaniaviva.com/"+@cause.custom_url, :text => "Voy a ayudar en "+@cause.title }, {:class => "btn btn-lg btn-success"}) %>
	<% end %>
</div>


<div class="col-md-12">




</div>




<br />



<%= gmaps({
    "map_options" => { "detect_location" => true, "center_on_user" => true, "auto_zoom" => false, "zoom" => 11 },
    "markers"     => {"data" => @json }
   })
    %>

<%= link_to 'Edit', edit_cause_path(@cause) %> |
<%= link_to 'Back', causes_path %>
