<%= form_for(@support) do |f| %>
  <% if @support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support.errors.count, "error") %> prohibited this support from being saved:</h2>

      <ul>
      <% @support.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :cause_id, :value => cause_id(params[:cause]) %>
  



  <br />

  <div class="container">
    <div class="col-md-8 text-center">

      <div class="col-md-6 text-left">
        <div class="field">
          <%= f.label "Lugares donde puedes colaborar: " %><br />

          <%= f.select(:address, options_for_select(@locations.map(&:address)), {:include_blank => "Selecciona el lugar más cercano a ti"}, {:class => 'form-control input-box'}) %>
        </div>
      </div>

      <div class="col-md-3 text-left">
        <div class="field">
          <%= f.label "Voy a ir en: " %><br />
          <%= f.text_field :date, :class => 'form-control input-box', :placeholder => "Fecha" %>
        </div>
      </div>

      <div class="col-md-2 text-left">
        <%= f.label " " %><br />
        <%= f.submit "Unirme a esta causa", :class => "btn btn-default standard-button" %>
      </div>
        
      

    </div>
  </div>



  <br />

  

  <br />

<% end %>
