<%= form_for(@testimonial) do |f| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
      <% @testimonial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
      <label for="nombre" class="col-sm-3 control-label"><%= f.label :title %></label>
      <div class="col-sm-9">
          <%= f.text_field :title, :class => 'form-control input-box', :placeholder => "It was amazing" %>
      </div>
  </div> 


  <div class="form-group">
      <label for="nombre" class="col-sm-3 control-label"><%= f.label :testimonial %></label>
      <div class="col-sm-9">
          <%= f.text_area :testimonial, :class => 'form-control input-box', :placeholder => "Describe your experience!", :size=>"6x5"  %>
      </div>
  </div> 


  <%= f.hidden_field :user_id, :value=>current_user.id %>
  <%= f.hidden_field :cause_id, :value=>cause_id(params[:cause]) %>


  <div class="form-group">
      <div class="col-sm-12 text-right">
          <button class="btn btn-primary standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">Share your experience</button>
      </div>
  </div>


<% end %>
