


<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "Nombre del Lugar" %><br />
    <%= f.text_field :description %>
  </div>


  <div class="field">
    <%= f.label "Directorio" %>
    <%= f.select(:directory_id, options_from_collection_for_select(Directory.all, :id, :name,:selected => params[:directory_id]), {}, {:class => 'form-control'}) %>
  </div>


  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= form_tag import_locations_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag("directory_id", params[:directory_id])  %>

  <%= submit_tag "Importa las direcciones" %>
<% end %>


