<div class="row">


  
  
  <div class="col-md-5 col-md-offset-3">


<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="panel-default">
      <div class="panel-body form-horizontal payment-form">


          

          <div class="form-group">
              <label for="nombre" class="col-sm-3 control-label">Nombre</label>
              <div class="col-sm-9">
                  <%= f.text_field :description, :class => 'form-control input-box', :placeholder => "Ej.: Centro Cultural Gabriela Mistral" %>
              </div>
          </div> 


          <div class="form-group">
              <label for="nombre" class="col-sm-3 control-label">Dirección</label>
              <div class="col-sm-9">
                  <%= f.text_field :address, :class => 'form-control input-box', :placeholder => "Ej.: Alameda 227, Santiago, Chile" %>
              </div>
          </div> 



          <div class="form-group">
                  <label for="date" class="col-sm-3 control-label">Directorio</label>
                  <div class="col-sm-9">
                      <%= f.select(:directory_id, options_from_collection_for_select(Directory.all, :id, :name,:selected => params[:directory_id]), {}, {:class => 'form-control input-box'}) %>
                  </div>
          </div> 




          <div class="form-group">
              <div class="col-sm-12 text-right">
                  <button class="btn btn-primary standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">Crear Dirección</button>
              </div>
          </div>




          
        <% end %>

    </div>
   </div>     






    
   <hr class="heading" />

   <div class="panel-default">

          <div class="text-left col-sm-12">
            <div class="text-center">
              <h3>¿Tienes un archivo con direcciones?</h3>
            </div>
            <br />
            <%= form_tag import_locations_path, multipart: true do %>
            <div class="col-sm-6 text-right">
              <%= file_field_tag :file %>
            </div>

            <div class="col-sm-6 text-right">  
              
                <%= f.select(:directory_id, options_from_collection_for_select(Directory.all, :id, :name,:selected => params[:directory_id]), {}, {:class => 'form-control input-box'}) %>
                
                <button class="btn btn-default" type="submit" id="submit" name="submit" data-style="expand-left">Importar direcciones</button>
              
            </div>  
            <% end %>

          </div>
      </div>






  

  </div>






</div>