<div class="container text-left">
<h1>Direcciones</h1>

<table class="table">
  <tr>
    <th>Dirección</th>
    <th>Descripción</th>
    <th>Directorio</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @locations.each do |location| %>
  <tr>
    <td><%= location.address %></td>
    <td><%= location.description %></td>
    <td>
      <% if location.directory %>
        <%= location.directory.name %>
      <% else %>
        No tiene asignado un directorio
      <% end %>
    </td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>

    <% if current_user %>
      <% if current_user.id == location.user_id %>
        <td><%= link_to 'Mostrar', location %></td>
        <td><%= link_to 'Editar', edit_location_path(location) %></td>
        <td><%= link_to 'Eliminar', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear una nueva dirección', new_location_path %>

</div>