<!DOCTYPE html>
<html>
<head>


  <title>Ciudadanía Viva</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>

 
  

</head>
<body>





<!-- STICKY NAVIGATION -->
	<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
		<div class="container">
			<div class="navbar-header">
				
				<!-- LOGO ON STICKY NAV BAR -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#"><%= image_tag "logo_black.png" %></a>
				
			</div>
			
			<!-- NAVIGATION LINKS -->
			<div class="navbar-collapse collapse" id="kane-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation">
					<li><a href="/causes">Ayudar</a></li>
					<li><%= link_to "Crea tu ayuda", "/causes/new",:class => "btn" %></li>
					<li><%= link_to "Directorios", "/directories" %></li>
				</ul>
			</div>
		</div> <!-- /END CONTAINER -->
	</div> <!-- /END STICKY NAVIGATION -->
	<br />	
	<br />	
	<br />	



	<div class="container">
 		<%= yield %>
	</div>











<footer>

	<ul class="social-icons">
		<li><a href=""><i class="social_facebook_square"></i></a></li>
		<li><a href=""><i class="social_twitter_square"></i></a></li>
		<li><a href=""><i class="social_instagram_square"></i></a></li>
	</ul>
	<div class="container">
		<p class="copyright">Ciudadanía Viva 2014</p>
	</div>
</footer>
<%= yield :scripts %>

</body>
</html>
