<!DOCTYPE html>
<html>
<head>


  <title>Ciudadanía Viva</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>

 
  

</head>
<body>




<% current_uri = request.env['PATH_INFO'] %>

<% if current_uri == "/" %>


	<header class="header principal" data-stellar-background-ratio="0.5" id="home">

		<div class="container">
			
				<div class="col-md-3 col-xs-12">
					<%= image_tag t 'logo' %>	
				</div>

				<div class="col-md-5 col-md-offset-4 col-xs-12 menuprincipalfront">
					<div class="col-md-6 col-xs-12 menuitem"><%= link_to t("causes"),"/causes" %></div>
					<div class="col-md-6 col-xs-12 menuitem"><%= link_to t("create"), "/causes/new" %></div>
				</div>
			
			
			<h1><%= t "be_happy_outline" %></h1>
			<h3><%= t "be_happy_h2" %></h3>
		</div>

		<div id="white-translucent">
			<div class="container">

				<%= search_form_for @search, :class=>"form-inline" do |f| %>

					<div class="form-group">
						<%= f.text_field :city_cont, :class=>"form-control input-lg", :placeholder=>"Where do you want to help?" %>
				 	</div>
				 	<button type="submit" class="btn btn-orange text-uppercase input-lg">Search</button>
				<% end %>


			</div>
		</div>

	</header>





<% else %>




<!-- STICKY NAVIGATION -->
	<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
		<div class="container">
			<div class="navbar-header">
				
				<!-- LOGO ON STICKY NAV BAR -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>

				<%= link_to image_tag("behappy.png"), "/", :class=>"navbar-brand" %>
				
			</div>
			
			<!-- NAVIGATION LINKS -->
			<div class="navbar-collapse collapse" id="kane-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation">
					<li>
						<% if current_user %>
							<%= image_tag current_user.picture, :class=>"img-circle", :width=>"40px;" %>
						<% end %>	
					</li>
					<li><a href="/causes">Ayudar</a></li>
					<li><%= link_to "Crea tu ayuda", "/causes/new",:class => "btn" %></li>
				</ul>
			</div>
		</div> <!-- /END CONTAINER -->
	</div> <!-- /END STICKY NAVIGATION -->






<% end %>







	<br />	
	<br />	
	<br />	





































	<div class="container">
 		<%= yield %>
	</div>











<footer>

	<ul class="social-icons">
		<li><a href=""><i class="social_facebook_square"></i></a></li>
		<li><a href="http://www.twitter.com/ciudadaniaviva"><i class="social_twitter_square"></i></a></li>
		<li><a href=""><i class="social_instagram_square"></i></a></li>
	</ul>
	<div class="container">
		<p class="copyright">Ciudadanía Viva 2014</p>
	</div>
</footer>
<%= yield :scripts %>

</body>
</html>
